html {
	position: relative;
	min-height:100%;
	
}


body{
	margin-bottom: 320px;
}

@media screen and (max-width: 700px) {
	body {
		margin-bottom: 500px;
	}
}

nav.navbar{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
color: #344055;
}


footer {
	position:absolute;
	bottom: 0;
	width:100%;
	background-color: LightSkyBlue;
	color: #344055;
	box-shadow: 1px 6px 28px -10px rgba(0,0,0,0.74) inset;
}





footer a{
	color: #344055;
}



thead{
	background-color: LightSkyBlue;
}

tbody {
    display: block;
    max-height: 40vh;
    overflow-y: scroll;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

table {
    width: 400px;	
}

.table{
	box-shadow: -1px 13px 14px -7px rgba(0,0,0,0.75);
}

th{
	background-color:LightSkyBlue;
	color:#344055;
}


::-webkit-scrollbar{
    display:none;
}

.listaCorsistiBtn{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.main-footer{
	display:flex;
	justify-content:space-around;
	padding:30px;
	flex-wrap:wrap;
	
}
.main-footer ul{
	padding-inline-start:0px;
	list-style-type: none;
}

.copyright{
	text-align:center;
	font-weight: bold;
	font-style: oblique;
}
.btn:hover{
	transform: scale(1.1);

	z-index:12;

}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 100px) {
    td,th,.btn,footer nav,footer section, footer a{
		font-size: 0.75rem;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
td,th,.btn,footer nav,footer section, footer a{
		font-size: 0.90rem;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	td,th,.btn,footer nav,footer section, footer a{
		font-size: 0.95rem;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	td,th,.btn,footer nav,footer section, footer a{
	font-size:1.2rem;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	td,th,.btn,footer nav, footer section, footer a{
		font-size: 1.5rem;
	}
}