html {
	position: relative;
	min-height:100%;
}

body{
	margin-bottom: 320px;
}

@media screen and (max-width: 700px) {
	body {
		margin-bottom: 500px;
	}
}

nav.navbar{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
color: #344055;
}


footer {
	position:absolute;
	bottom: 0;
	height:300px;
	width:100%;
	background-color: LightSkyBlue;
	color: #344055;
}
@media screen and (max-width:700px) {
	footer {
	height:480px;
	}
	body{
	margin-bottom:500px;
	}
}



footer nav{
	float: left;
	padding:30px;
	color: #344055;
}
footer section {
	float:left;
	padding:30px;
	
}

p.copyright {
	clear: both;
	margin-left:30px;
	margin-bottom:30px;
}
footer a{
	color: #344055;
}



thead{
	background-color: LightSkyBlue;
}

tbody {
    display: block;
    max-height: 40vh;
    overflow-y: scroll;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

table {
    width: 400px;	
}

::-webkit-scrollbar{
    display:none;
}
